@font-face {
  font-family: 'RobotoSlab';
  src: local('RobotoSlab'), url(./fonts/RobotoSlab-VariableFont_wght.ttf) format('truetype');
}

.bg-dark {
  min-height: 100vh;
}

.component-body, .nav-item:hover, tr {
  color: #f2f2f2;
}

.component-body {
  padding-left: 1em;
  padding-right: 1em;
}

.navbar-expand-lg {
  background-color: #6cf0c3;
}

.logo {
  font-family: "RobotoSlab";
}

.nav-item, .logo {
  color: #242424;
}

.nav-item {
  font-weight: 500;
}

.nav-item, .btn-album {
  font-size: large;
  margin-left: .2em;
  margin-right: .2em;
  transition: .2s;
}

.nav-item:hover {
  background-color: #242424;
}

.nav-item:hover, .btn-album:hover, .btn-code:hover {
  transition: .2s;
  cursor: pointer;
}

.album-info {
  width: 100%;
}

.table-container {
  padding: 1em;
  margin-top: 1em;
}

.table-container, form {
  width: 30%;
  transition: .2s;
}

.table-container:hover, input:hover {
  border: .1em solid #f2f2f2 !important;
  transition: .2s !important;
}

.table-container, input, textarea{
  background-color:#242424 !important;
  color: #f2f2f2 !important;
  border: .1em solid #9c9c9c !important;
  border-radius: .25em !important;
  margin-bottom: 1em !important;
}

.markedAlbum {
  color: #9c9c9c;
  text-decoration: line-through;
}

.unmarkedAlbum {
  text-decoration: none;
}

.unmarkedAlbum, .btn-album:hover, .btn-code:hover {
  color: #f2f2f2;
}

.btn-album, .logo {
  font-size: x-large;
}

.btn-album, .btn-code {
  background: none;
  border: none;
  color: #6cf0c3;
  padding: 0;
  margin-right: .5em;
}

.btn-code {
  position: absolute;
  top: 90%;
  left: 50%;
  transition: .2s;
  font-size: xx-large;
}

.btn-primary {
  background-color: #6cf0c3 !important;
  color: #242424 !important;
  font-size: large !important;
  font-weight: 500 !important;
  border: none !important;
}

.btn-primary:hover {
  background-color: #242424 !important;
  color: #f2f2f2 !important;
}
